body {
	font-family: 'Montserraf', sans-serif;
}
header {
	background-color: #4feba5;
	width: 100%;
	height: 130px;
	margin: 10px 0px;
}



.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	position: absolute;
	transform: scale(0.8);
	top: 20px;
}

nav {
	position: relative;
	top: 60px;
	text-align: right;
	color: #0000AA;	
	text-decoration: none;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 0 5px;
	font-size: 20px;
	font-style: none;	

}

nav a{
	text-decoration: strong;
	text-decoration: none;
}

a:hover {
	text-decoration: strong;
	font-size: 24px; 
	text-decoration: underline;
}

.carro {
	position: relative;
	width: 100%;
	height: 750px;
}

.compiuter {
	width: 30%;
	float: left;
	border-radius: 10px;
	box-shadow: 8px 8px 10px #000000;
	margin: 0 20px;
	 
}

.sobre {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 3em 0;

}

.sobre p {
	font-size: 18px;
	text-align: left;
	line-height: 1.5;

}

.sobre strong {
	text-decoration: bold;
}

.sobre em {
	font-style: italic;
	text-decoration: underline;
	color: seagreen;
	font-size: 1em;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 20px auto;

}

.pc-case {
	width: 18%;
	float: left;
	margin: 0 20px 0 0;
	border-radius: 10px;
	box-shadow: 5px 5px 10px #000000;
}

.vantagens {
	background: linear-gradient(#dbf9f5, #4682B4);
}

.lista-beneficios {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 250px;

}

.beneficios {
	line-height: 1.5;
}

.depoimentos {
	padding: 3em;
	background: #4682B4;
}

.clientes {
	width: 300px;
	height: 300px;
}

footer {
	text-align: center;
	background:  url("bg.jpg");
	padding: 20px 0;
}

.joju-logo {
	width: 10%;
}

.lista-clientes {
	width: 100%;
	margin-left: 50px;

}

.lista-clientes li {
	display: inline-block;
	text-align: center;
	width: 25%;
	margin: 0 1.5%;

}

.clientes {
	border-radius: 10px;
	border: solid 2px #000000;
	opacity: 90%;
	transition: 1s;
	margin-bottom: 50px;
}

.clientes:hover {
	transform: scale(1.1);
}