header {
	background-image: url(fundao.png); /*isso coloca uma imagem no fundo*/
	background-color: #BBBBBB;
	padding: 0px 0;
	margin: 0 auto;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;

}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav a {
	color: #0000FF;
	text-decoration: none;

}

nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;

}

a:hover {
	text-decoration: strong;
	font-size: 24px;
}

a:visited {
	color:  blue;
}

.titulo-centralizado {
	text-align: center;
	font-size: 35px;
	margin-top: 10px;
	text-decoration-style: solid;
	padding: 50px;


}

.sobre {
	font-size: 20px;
	text-align: center;
	position: relative;
	line-height: 20px;

}

#missao {
	font-size: 25px;


}

em strong {
	color: #FF0000;
	text-decoration: underline;
}

.textim {
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	font-size: 2rem;
	display: inline-block
	

}