body {
	font-family: 'Montserraf', sans-serif;
}
header {
	background-color: #4feba5;
	width: 100%;
	height: 130px;
	margin: 10px auto;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	position: absolute;
	transform: scale(0.8);
	top: 20px;
}

nav {
	position: relative;
	top: 60px;
	text-align: right;
	color: #0000AA;
	text-decoration: none;
}

nav li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 0 5px;
	font-size: 20px;
	font-style: none;	

}

nav a{
	text-decoration: strong;
	text-decoration: none;
}

a:hover {
	text-decoration: strong;
	font-size: 24px; 
	text-decoration: underline;
}

.placa-mae {
	position: relative;
	width: 100%;
	height: 300px;
}

.titulo-principal {
	position: relative	;
	width: 100%;
	top: 20px;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.copiuter {
	position: relative;
	margin: 20px 20px 20px 20px;
	width: 20%;
	float: left;
}

.sobre {
	background-color: #dbf9f5;
	position: relative;
	width: 940px;
	margin: 0 auto;

}

.sobre p {
	font-size: 20px;
	margin: 0 0 1em;
	text-align: center;
}

.sobre strong {
	text-decoration: bold;
}

.sobre em {
	font-style: italic;
	text-decoration: underline;
	color: seagreen;
	font-size: 1em;
}

.vantagens p {
	text-transform: bold;
	font-size: 20px;
	text-align: center;

}

footer {
	text-align: center;
	background:  url("bg.jpg");
	padding: 40px 0;
}
