header {
	background-color: #BBBBBB;
	padding: 20px 0;
	margin: 0 auto;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;

}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav a {
	color: #000000;
	text-decoration: none;

}

nav li {
	display: inline;
	list-style-type: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;

}

a:hover {
	text-decoration: strong;
	font-size: 24px;
}

a:visited {
	color:  blueviolet;
}

.titulo-centralizado {
	text-align: center;
}

.missao {
	color: #ff0000;
}